.container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--inkblot-semantic-color-background-secondary);
}

.mascotHolder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
